<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrW7rjjr7uePdyA0sRbvGBqY48SVtxBuM</string>
	<key>GCM_SENDER_ID</key>
	<string>173950954451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spoosk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>spoosk-c0b68</string>
	<key>STORAGE_BUCKET</key>
	<string>spoosk-c0b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173950954451:ios:b354f26120f27319fedd26</string>
</dict>
</plist>